/* Reset CSS * = all */

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Welcome part */

body {
  background-image: url("img/background.jpg");
}

.module {
  color: white;
  text-align: center;
  max-width: 75%;
  padding: 1rem;
  background-color: rgba(250, 250, 250, 0.904);
  border-radius: 16px;
  max-width: 80%;
  margin: auto;
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

h1 {
  font-family: "Didot", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

h2 {
  font-family: "Didot", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  font-weight: bold;
}

ul {
  flex: display;
  font-family: "Didot", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(23, 39, 35);
  background-color: rgba(98, 197, 184, 0.616);
  list-style-position: inside;
  text-align: left;
  border-radius: 16px;
  max-width: 80%;
  margin: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

input {
  font-family: "Didot", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 2px solid rgb(146, 187, 177);
  border-radius: 4px;
  background-color: white;
  opacity: 0.5;
  color: rgb(80, 105, 84);
}

button {
  font-family: "Didot", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 2px solid rgb(146, 187, 177);
  border-radius: 4px;
  background-color: white;
  opacity: 0.5;
  color: rgb(80, 105, 84);
}

footer {
  font-family: "Didot", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}

form {
  text-align: center;
  font-family: "Didot", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.play {
  margin: 0 auto;
  padding: 1rem;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  font-weight: bold;
  border-radius: 4px;
  border: solid rgb(197, 0, 82);
  background-color: rgb(197, 0, 82);
  color: white;
  font-size: 20px;
}

.one-player-choice {
  align-content: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  padding: 1rem;
  max-width: 4rem;
  max-height: 4rem;
  background-color: red;
  opacity: 100;
}

.player-form {
  font-size: 2rem;
  max-height: 2rem;
}
/* GAME PART  */
.game {
  font-family: "Fredoka One", cursive;
  font-size: 7rem;
  display: flex;
  flex: 1;
  justify-content: center;
}
.gametable {
  background-color: white;
  text-align: center;
  border: 1px solid;
  padding: 0.5rem;
  margin: 5rem;
  border-style: outset;
  table-layout: fixed;
}
.row-element {
  border-top: none;
  margin: 1rem;
  height: 10rem;
}
.element {
  color: white;
  margin: 1rem;
  background-color: black;
  padding: 1rem;
  border: 1px solid white;
  border-style: solid;
  width: 10rem;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.animation {
  -webkit-animation: fadeinout 0.6s linear forwards;
  animation: fadeinout 0.6s linear forwards;
}

.rouge {
  color: red;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes fadeinout {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
label {
  font-family: "Didot", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
