/* Reset CSS * = all */

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Welcome part */
.module {
  color: white;
  text-align: center;
  max-width: 75%;
  margin: auto;
  background-color: black;
}

h1{
  font-family: "Fredoka One", cursive;
  
  color: white;
}

h2{
  font-family: 'Didot', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
  font-weight: bold;
}

ul{
flex: display; 
font-family: 'Didot', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: rgb(23, 39, 35); 
background-color: rgba(98, 197, 184, 0.616);
list-style-position: inside; 
text-align: left; 
border-radius: 16px;
max-width: 80%;
margin: auto;
margin-right: auto;
margin-left: auto;
padding-right: 20px;
padding-left: 20px;
}

input
{
font-family: 'Didot', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border: 2px solid rgb(146, 187, 177);
border-radius: 4px;
background-color : white; 
opacity: 0.5;
color: rgb(80, 105, 84);
font-size: 14px;
}

button 
{
font-family: 'Didot', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
border: 2px solid rgb(146, 187, 177);
border-radius: 4px;
background-color : white; 
opacity: 0.5;
color: rgb(80, 105, 84);
font-size: 14px;
  
}


footer{
font-family: 'Didot', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: white;
}

form{
text-align: center;
font-family: 'Didot', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.play {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  background-color: red;
  padding: 2rem;
}

/* GAME PART  */
.game {
  font-family: "Fredoka One", cursive;
  font-size: 7rem;
  display: flex;
  flex: 1;
  justify-content: center;
}
.gametable {
  background-color: white;
  text-align: center;
  border: 1px solid;
  padding: 0.5rem;
  margin: 5rem;
  border-style: outset;
  table-layout: fixed;
}
.row-element {
  border-top: none;
  margin: 1rem;
  height: 10rem;
}
.element {
  color: white;
  margin: 1rem;
  background-color: black;
  padding: 1rem;
  border: 1px solid white;
  border-style: solid;
  width: 10rem;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.animation {
  -webkit-animation: fadeinout 0.6s linear forwards;
  animation: fadeinout 0.6s linear forwards;
}

.rouge {
  color: red;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes fadeinout {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
label{
  font-family: 'Didot', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: white;
}

