/* Reset CSS * = all */

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Welcome part */

body 
{
  background-image: url("/assets/img/background.jpg")
}


.module {
  color: white;
  text-align: center;
  max-width: 75%;
  padding: 1rem;
  background-color: rgba(250, 250, 250, 0.904);
  border-radius: 16px;
  max-width: 80%;
  margin: auto;
  margin-top: 150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

h1{
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  color: rgb(43, 8, 66);
  font-weight: bold;
}

h2{
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  color: rgb(43, 8, 66);
  font-weight: bold;
}

h3 {
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  color: rgb(43, 8, 66);
  font-weight: bold;
  font-size: 16px;
  color: white;

}

h4 {
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  color: rgb(43, 8, 66);
  font-weight: bold;
  font-size: 16px;
  color: white;

}


ul{
flex: display; 
font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
color: rgb(43, 8, 66);
background-color: rgba(255, 216, 41, 0.616);
list-style-position: inside; 
text-align: left; 
border-radius: 16px;
max-width: 80%;
margin: auto;
margin-right: auto;
margin-left: auto;
padding-right: 20px;
padding-left: 20px;
padding: 1rem;

}

label{
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  font-weight: bold;
  color: white;
}


input
{
font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
border: 2px solid rgba(43, 8, 66, 0.842);
border-radius: 4px;
background-color : white; 
opacity: 0.5;
color: white;
font-size: 14px;
margin-top: 5px;
}

button 
{
font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
border: 2px rgba(43, 8, 66, 0.842);
border-radius: 4px;
background-color : rgba(255, 255, 255, 0.52); 
opacity: 1;
color: rgb(43, 8, 66);
font-size: 14px;
padding: 2px;

  
}

footer{
font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
font-weight: bold;
color: rgb(43, 8, 66);
}

.form {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;  
}

.multiplayer{
  display: flex; 
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  padding: 20px;
  background-color: rgba(43, 8, 66, 0.897);
  border-radius: 16px;
  color: white;
  margin: 5px
}

.solo{
  display: flex; 
  flex-direction: column;
  flex-basis: 0;
  flex-grow: 1;
  font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
  padding: 20px;
  background-color: rgba(43, 8, 66, 0.897);
  border-radius: 16px;
  color: white;
  margin: 5px;
}

.play {
margin: 0 auto;
padding: 1rem;
font-family: "Avantgarde", "TeX Gyre Adventor", "URW Gothic L", sans-serif;
font-weight: bold;
border-radius: 4px;
border: solid  rgb(197, 0, 82) ;
background-color :  rgb(197, 0, 82); 
color: white;
font-size: 20px;

}

/* GAME PART  */
.game {
  font-family: "Fredoka One", cursive;
  font-size: 7rem;
  display: flex;
  flex: 1;
  justify-content: center;
}
.gametable {
  background-color: white;
  text-align: center;
  border: 1px solid;
  padding: 0.5rem;
  margin: 5rem;
  border-style: outset;
  table-layout: fixed;
}
.row-element {
  border-top: none;
  margin: 1rem;
  height: 10rem;
}
.element {
  color: white;
  margin: 1rem;
  background-color: black;
  padding: 1rem;
  border: 1px solid white;
  border-style: solid;
  width: 10rem;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.animation {
  -webkit-animation: fadeinout 0.6s linear forwards;
  animation: fadeinout 0.6s linear forwards;
}

.rouge {
  color: red;
}

@-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes fadeinout {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
